  <div class="col-3">
    <div class="row">
      <div class="col-12">
        <%= comment.user.first_name %> wrote:
        <% if current_user && current_user.admin? %>
          <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
      <div class="col-12">
        <%= comment.body %>
      </div>
      <div class="col-6">
        <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
      </div>
      <div class="rated" data-score="<%= comment.rating %>"></div>
    </div>
  </div>
