<p id="notice"><%= notice %></p>

<%= image_tag "https://i.ytimg.com/vi/PtXVF9o8DiA/maxresdefault.jpg" %>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
