<!-- Navbar Starts here -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
  </button>
  <div class="navbar-brand" id="logo" href="#">webshop!</div>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <%= link_to "Home", simple_pages_index_path, :class => "nav-link", :id =>  "nav-btn" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", simple_pages_about_path, :class => "nav-link", :id => "nav-btn" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", simple_pages_contact_path, :class => "nav-link", :id => "nav-btn" %>
      </li>
      <%= link_to "Shop", products_path, :class => "nav-link", :id =>  "nav-btn" %>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Orders
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to "OrdersIndexPath", orders_index_path, :class => "dropdown-item" %>
        <%= link_to "OrdersPath", orders_path, :class => "dropdown-item" %>
        <%= link_to "ProductPath(1)", product_path(1), :class => "dropdown-item" %>
        <%= link_to "OrderPath(1)", order_path(1), :class => "dropdown-item" %>
        <%= link_to "User_Path", users_index_path, :class => "dropdown-item" %>

        <div class="dropdown-divider"></div>
        <%= link_to "Hello", products_hello_path, :class => "dropdown-item" %>
      </div>
    </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to('Logout', destroy_user_session_path, class: "nav-link") %> <!--method: :delete,-->
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to('Login', new_user_session_path, class: "nav-link") %>
      </li>
      <% end %>
      </li>
    </ul>

    <!-- This was the old form created in HTML with regular tag <form> -->
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" id="search_input" type="search" placeholder="Go Search the Shop.." aria-label="Search">
      <button class="nav-btn btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->

    <!-- This is the new form created in HTML with Rails function form_with -->
    <%= form_with(url: products_path, method: 'get', local: true, class: "form-inline my-2 my-lg-0") do |form| %>
      <%= form.submit 'Search', class:"nav-btn btn btn-outline-success my-2 my-sm-0", type:"submit" %>
    <% end %>
  </div>

</nav><!-- Navbar Ends here -->
